<h2 style="text-align: center;">Description</h2>

<p>Contacts is a handy app to have. It stores all of your saved contacts. In this project, you will write one yourself. It teaches you to understand and implement the basic principles of OOP.</p>

<p>In the first stage, you should write a program that creates an instance of a class that stores information about one record in the Contacts. One record should contain a name, a surname, and a phone number. You can type them from the keyboard.</p>

<p>You should also create a class representing this app. For now, it should store only one record: a record that you created from the input.</p>

<h2 style="text-align: center;">Output example</h2>

<p>Below is an example of how your output might look. Lines which start with <code>&gt;</code> represent the user input.</p>

<pre><code class="language-no-highlight">Enter the name of the person:
&gt; John
Enter the surname of the person:
&gt; Smith
Enter the number:
&gt; 1-234-567-890

A record created!
A Phone Book with a single record created!</code></pre>

<p> </p>

<p> </p>
