<h2 style="text-align: center;">Description</h2>

<p>In this stage, you will write a program that can store not only information about people but also organizations.</p>

<p>In the real app, you can also store phone numbers of different companies, like your favorite pizza shop or your bank. These organizations don't have a name or a surname; they have an organization name and an address.</p>

<p>Additionally, a person can have a birth date and gender, but a company can't have that.</p>

<p>Let's use <strong>inheritance </strong>to solve this issue. There should be a base class containing information relevant to both to an organization and a person, like a phone number. And there should be two classes that inherit this base class: the class that represents an organization and a class that represents a person.</p>

<p>The list of records should contain both people and organizations. You can accomplish that if the list with records contains elements of the base class, not the specific classes.</p>

<p>There is one problem with that: how can you edit the fields that correspond to specific classes, like the address of an organization? One of the solutions is to create a final Boolean field isPerson in the base class. After that, when editing the record, first check this field, then cast to the corresponding class and then edit the field. This is a bad, workaround solution, but we will write a more general solution in the next stage.</p>

<p>Also, in this stage, you can improve the base class so that it has more than one field. You should implement fields that store the date of this record creation and the date of the last edit.</p>

<p>Use an empty line to separate different actions, like in the example.</p>

<h2 style="text-align: center;">Output example</h2>

<p>Below is an example of how your output might look. The symbol <code>&gt;</code> represents the user input.</p>

<pre><code class="language-no-highlight">Enter action (add, remove, edit, count, info, exit): &gt; add
Enter the type (person, organization): &gt; person
Enter the name: &gt; John
Enter the surname: &gt; Smith
Enter the birth date: &gt;
Bad birth date!
Enter the gender (M, F): &gt;
Bad gender!
Enter the number: &gt; +0 (123) 456-789-ABcd
The record added.

Enter action (add, remove, edit, count, info, exit): &gt; add
Enter the type (person, organization): &gt; organization
Enter the organization name: &gt; Pizza Shop
Enter the address: &gt; Wall St. 1
Enter the number: &gt; +0 (123) 456-789-9999
The record added.

Enter action (add, remove, edit, count, info, exit): &gt; info
1. John Smith
2. Pizza Shop
Enter index to show info: &gt; 2
Organization name: Pizza shop
Address: Wall St. 1
Number: +0 (123) 456-789-9999
Time created: 2018-01-01T00:00
Time last edit: 2018-01-01T00:00

Enter action (add, remove, edit, count, info, exit): &gt; edit
1. John Smith
2. Pizza Shop
Select a record: &gt; 1
Select a field (name, surname, birth, gender, number): &gt; number
Enter number: &gt; (123) 234 345-456
The record updated!

Enter action (add, remove, edit, count, info, exit): &gt; info
1. John Smith
2. Pizza Shop
Select a record: &gt; 1
Name: John
Surname: Smith
Birth date: [no data]
Gender: [no data]
Number: (123) 234 345-456
Time created: 2018-01-01T00:00
Time last edit: 2018-01-01T00:01

Enter action (add, remove, edit, count, info, exit): &gt; exit</code></pre>
